$categorie-1-light: #FFD6D4;
$categorie-1-dark: #B2170E;
$categorie-2-light: #D6FFD6;
$categorie-2-dark: #47B747;
$categorie-3-light: #E9DEFF;
$categorie-3-dark: #573B8C;
$categorie-4-light: #FFF5BF;
$categorie-4-dark: #FAA11C;
$categorie-5-light: #F1F7FC;
$categorie-5-dark: #11ABEC;
$categorie-6-light: #FFECE6;
$categorie-6-dark: #FD755F;
$categorie-unknown-light: #E3E3E3;
$categorie-unknown-dark: #606060;
