$font-color-card: #636970;
$font-color-title: #001A25;
$btn-color-selection-dark: #58676D;
$btn-color-selection-light: #FFFFFF;
$color-selection-dark-2: #11ABEC;
$color-selection-light-2: #F1F7FC;
$light-background: #F3F5F8;
$light-border: #DCE4ED;
$white-primary: #FFFFFF;
$black-secondary: #001A25;
$grey-not-allowed: #A9A9A9;

