@import "src/assets/font/font-etiquette";
@import "src/assets/colors/colors_main";

.list-items {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  margin: 0;

  .bandeau-categories {
    @include font-etiquette;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    // counter CSS HACK for border collapsing between element of ul list
    margin-right: 1px;
    margin-left: -1px;
    padding-left: 16px;
  }

  .item-wrapper {
    // CSS HACK for border collapsing between element of ul list
    margin: -1px 0 0 -1px;
    display: flex;
    width: 50%;
    list-style: none;
    padding: 16px;
    cursor: pointer;

    &.special-construction {
      background-color: $light-background;
    }

    &.by-alpha, &.by-groups {
      border: 1px solid $light-border;
    }

    &.in-coin-left-bottom {
      border-bottom-left-radius: 4px;
    }

    &.in-coin-right-bottom {
      border-bottom-right-radius: 4px;
    }

    &.no-bottom-border {
      border-bottom: none;
    }

    &.no-up-border {
      border-top: none;
    }

    &.selected-category {
      background-color: $color-selection-light-2;
      border: 1px solid $color-selection-dark-2;
      z-index: 2;
    }
  }
}
